﻿@model IEnumerable<AltairGym.Models.ClassRoom>

@{
    ViewData["Title"] = "Index";
}

<h1>Vista como cliente de actividades futuras</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateClass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateClass)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Activity.Tittle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Room.ID)
                </td>

            </tr>
        }
    </tbody>
</table>