﻿@model AltairGym.Models.ClassRoom

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ClassRoom</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DateClass" class="control-label"></label>
                <input asp-for="DateClass" class="form-control" />
                <span asp-validation-for="DateClass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hour" class="control-label"></label>
                <input asp-for="Hour" class="form-control" />
                <span asp-validation-for="Hour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomID" class="control-label"></label>
                <select asp-for="RoomID" class="form-control" asp-items="ViewBag.RoomID"></select>
            </div>
            <div class="form-group">
                <label asp-for="ActivityID" class="control-label"></label>
                <select asp-for="ActivityID" class="form-control" asp-items="ViewBag.ActivityID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@if (TempData["errorMessage"] != null)
{
    <p>@TempData["errorMessage"]</p>
}

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
