﻿@model IEnumerable<AltairGym.Models.ClassRoom>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<!--Ponemos un enlace que nos llevará al método del controlador de Classrooms "buscarFecha"-->
<p>
    <a asp-action="BuscarFecha">Ver como cliente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateClass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateClass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activity.Tittle)
            </td>
            <!--Si no hay reservas puede editar y eliminar la clase-->
            <td>
                @if (item.Bookings.Count == 0 || item.Bookings == null)
                {
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                }
                <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                @if (item.Bookings.Count == 0 || item.Bookings == null)
                {
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
