﻿@model AltairGym.Models.Activity

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Activity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Tittle" class="control-label"></label>
                <input asp-for="Tittle" class="form-control" />
                <span asp-validation-for="Tittle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberAssistants" class="control-label"></label>
                <input asp-for="NumberAssistants" class="form-control" />
                <span asp-validation-for="NumberAssistants" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
           
            
            <div class="form-group form-check">
                <label class="form-check-label">
                      <!--Si la lista.count es distinta de 0, significa que hay clases futuras, con lo cual no podrá cambiar el check de activo-->
                    @if (ViewBag.classRooms != 0)
                    {
                        <input class="form-check-input" asp-for="Active" disabled checked /> @Html.DisplayNameFor(model => model.Active)
                    }
                    else
                    {
                        <!--En caso contrario se podrá cambiar el active-->
                        
                        <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                    }


                </label>
            </div>
            
            
            
            <div class="form-group">
                <label asp-for="MonitorID" class="control-label"></label>
                <select asp-for="MonitorID" class="form-control" asp-items="ViewBag.MonitorID"></select>
                <span asp-validation-for="MonitorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
